<!-- Section: Design Block -->
<section class="text-center">
 
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
        <form (ngSubmit)="signUpUser(signUpForm)" [formGroup]="signUpForm">
        <div class="row d-flex justify-content-center">
          <div class="col-md-4">
            <h2 class="fw-bold mb-5">Sign up now</h2>

            
            <mat-form-field class="example-form" appereance="fill">
                <mat-label>username</mat-label>
                <input matInput type="text" name="userName" formControlName="userName"/>
                <mat-error *ngIf="userName?.errors?.['required']">
                    First name required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-form" appereance="fill">
                <mat-label>email</mat-label>
                <input matInput type="text" name="email" formControlName="email"/>
                <mat-error *ngIf="email?.errors?.['required']">
                    email required
                </mat-error>
                <mat-error *ngIf="email?.errors?.['pattern']">
                   invalid email
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-form" appereance="fill">
                <mat-label>password</mat-label>
                <input matInput type="password" name="password" id="password" formControlName="password"/>
                <mat-error *ngIf="password?.errors?.['required']">
                    Password Required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-form" appereance="fill">
                <mat-label>confirm password</mat-label>
                <input matInput type="text" name="userName" formControlName="confirmPassword"/>
                <mat-error *ngIf="confirmPassword?.errors?.['required']">
                    confirm password required
                </mat-error>
                <div *ngIf="signUpForm.errors?.['mustMatch']==false">
                    password and confirm password does not match
                </div>
            </mat-form-field>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="signUpForm.invalid">
                Sign up
              </button>
              </div>
              </div>
            </form>
          </div>
        </div>
  </section>
